/* stylelint-disable-next-line no-empty-source */
.inpt {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s ease;
	margin: 0 5px; 
 }
 
 .inpt:focus {
	border-color: dodgerblue;
 }

 label {
	font-size: 14px;
	
 }