/* stylelint-disable-next-line no-empty-source */
.contact{
	line-height: 2;
}
.contact a:hover {
	color: #2cc4eb;
}

.telegramIcon{
	width: 20px;
	border-radius: 50%;
}

.boxTelegramIcon{
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	background: #2cc4eb;
	border-radius: 50%;
}
.boxLink{
	
	gap: 5px;
	display: flex;
	align-items: center;
}

.boxLink:hover{
	color: #2cc4eb;
}