/* stylelint-disable-next-line no-empty-source */
.contact{
	line-height: 2;
}
.contact a:hover {
	color: #0077FE;
}

.icon{
	width: 20px;
	border-radius: 50%;
}

.boxIcons{
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	background: #0077FE;
	border-radius: 50%;
}
.boxLink{
	
	gap: 5px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.boxLink:hover{
	color: #0077FE;
}

.email-link {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 8px 12px;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
	line-height: 1.5;
 }
 
 .email-link:hover {
	background-color: #f7f7f7;
 }
 
 .email-link span {
	margin-right: 8px;
 }
 
 .email-link svg {
	height: 1em;
	vertical-align: middle;
 }

 .title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 0.5rem;
 }
 
 .postal {
	font-size: 1.1rem;
	color: #222;
 }
 
 /* .title span,
 .postal span {
	display: inline-block;
	color: #555;
	font-weight: normal;
 } */



 /* .box {
	display: inline;
	font-style: italic; 
	position: relative;
	color: #333; 
 }
 
 .box::before {
	content: '«'; 
	position: absolute;
	left: 0;
	transform: translateX(-100%); 
	color: #333; 
 }
 
 .box::after {
	content: '»'; 
	position: absolute;
	right: 0;
	transform: translateX(100%); 
	color: #333; 
 } */