/* stylelint-disable-next-line no-empty-source */
.wrapper{
	background: #F1F2F4;
	display: grid;
	grid-template-columns: auto  minmax(320px, 1224px) auto;
	grid-template-rows: auto 1fr auto;
	 min-height: 100vh; 
	/* gap: 40px 30px; */
	grid-template-areas:
	"header header header "
	". body ."
	"footer footer footer ";
	/* padding: 0 10px; */

}
.header{
	grid-area: header;
	background:var(--main-color);
}
.main{
	grid-area: body;
	outline: none;
}
.footer{
	height: 100px;
	background: #4c5353;
	grid-area: footer;
}